* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: 'Alfa Slab One', cursive;
	font-family: 'Cinzel', serif;
	height: 100%;
	scroll-behavior: smooth;
}

ul {
	list-style-type: none;
}

header {
	position: fixed;
	width: 100%;
	z-index: 10;
}

nav {
	text-align: right;
}

i.fa.fa-bars.hamburger {
    cursor: pointer;
	color: #00D646;
    padding: 15px 25px;
	z-index: 9;

}

.hamburger:hover {
	text-shadow: 1px 1px 4px #00D646;
}

main {
	width: 100%;
	height: 100%;
	background: url("../images/homepage-bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 25px 10px 25px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#caption h1 {
	font-size: 5em;
	letter-spacing: 0.2em;
	color: #e1e1d0;
	font-family: 'Alfa Slab One', cursive;
	text-align: left;
}

#caption p {
	font-size: 25px;
	letter-spacing: 0.15em;
	color: #EEEEEE;
	font-style: italic;
}

#caption i {
	/*display: block;*/
	margin: 0 auto;
}

.font-0 {
	color: #00D646;
}

/*.explore {
	border: 1px solid #EEEEEE;
	color: #EEEEEE;
	padding: 10px 20px;
	margin-top: 20px;

}

.explore:hover {
	background-color: #FFF;
	color: black;
}*/

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0, 0.9);
  	overflow-x: hidden;
  	transition: 0.5s;
	text-align: center;
}


.links a {
  	padding: 8px 8px 8px 32px;
	list-style-type: none;
  	text-decoration: none;
  	font-size: 1.5em;
  	color: #818181;
  	display: block;
  	transition: 1s;
}

.sidenav a:hover {
  	color: #f1f1f1;
}

.sidenav {
  	display: flex;
	justify-content: center;
	align-items: center;
  	font-size: 36px;
	color: #222831;
}

.closebtn {
	position: absolute;
   	right: 25px;
    	top: 0;
    	text-decoration: none;
    	color: white;
    	font-size: 60px;
}

#about {
	padding: 55px 100px;
	line-height: 40px;
	letter-spacing: 2px;
	word-spacing: 4px;
	color: #011936;
	visibility: hidden;
	text-align: center;
}

#about img {
	width: 20%;
	border-radius: 50%;
}

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		opacity: 0.0;	
        transform: translateY(100%);
	}
    
	80% {
		opacity: 0.6;	
	}	
	100% {
		opacity: 1;	
        transform: translateY(0%);
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0.0;	
        -webkit-transform: translateX(100%);
	}
	
	80% {
		opacity: 0.6;	
	}	
    
	100% {
		opacity: 1;	
        -webkit-transform: translateY(0%);
	}		
}

#skills {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

#skills img {
    	width: 50%;
   	height: 40%;
}

.dom {
	text-align: center;
}

.dom p {
	font-size: 2em;
	color: #ED254E;	
	font-weight: bold;
}

i {
	cursor: pointer;
}

#project {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
}

.hardees {
	display: flex;
	text-align: right;
	width: 70%;
	position: relative;
}

.overlay-left {
	position: absolute;
  	left: 0;
  	height: 100%;
  	width: 20%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: #ED254E;
	border-radius: 50%;
}

/*.overlay-left:hover {
  	opacity: 1;
}*/

.text-hardees {
  	color: #FFF;
	font-weight: bold;
  	font-size: 20px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.carls {
	/*border: 2px solid black;*/
	display: flex;
	text-align: right;
	flex-direction: row-reverse;
	width: 70%;
	position: relative;
}

.overlay-right {
  	position: absolute;
  	right: 0;
  	height: 100%;
  	width: 20%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: #ED254E;
	border-radius: 50%;
}

.text-carls {
  	color: #FFF;
	font-weight: bold;
  	font-size: 20px;
  	position: absolute;
  	top: 50%;
  	right: 10%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	text-align: center;
}

/*.overlay-right:hover {
  	opacity: 1;
}*/

.hardees img, .carls img {
	width: 20%;
	border-radius: 50%;
	border: 1px solid #ED254E;
}

.project-caption {
	/*border: 4px solid blue;*/
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 30px 20px 20px 20px;
	letter-spacing: 2px;
	word-spacing: 4px;
}

.project-caption h3 {
	padding-bottom: 15px;
	color: #ED254E;
}

#social i:hover {
	text-shadow: 1px 1px 4px black;
}

footer {
	/*background: url("../images/main-bg.jpg") no-repeat center center fixed;
	background-size: cover;*/
	background-color: #EEEEEE;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0;
}

.contact i {
	padding: 20px 40px;
}

footer p {
	color: #ED254E;
	padding-bottom: 15px;
	font-size: 1.2em;
}

.social {
	color: black;
	padding-bottom: 15px;
	font-size: 1.2em;
	text-decoration: none;
	width: 20%;
	text-align: center;
	padding-top: 10px;
}

.email {
	padding-bottom: 15px;
	font-size: 1.2em;
	text-decoration: none;
	color: #ED254E;
}

a.email:hover {
	text-decoration: underline;
	color: blue;
}

@media screen and (max-width: 499px){
	
	#caption {
		font-size: 1em;
	}

	.links {12:49 PM 7/30/2020
		padding-top: 15px;
	}

	.links a {
		font-size: 1em;
	}

	#about img {
		width: 50%;
   		border-radius: 50%;
	}

	#about p {
		padding: 15px 0;
	}

	#about {
		line-height: 25px;
   		letter-spacing: 2px;
		word-spacing: 10px;
		padding: 55px 40px;
	}

	#skills {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	#skills img {
		width: 35%;
	}

	.hardees, .carls {
		display: block;
		justify-content: flex-start;
	}

	.hardees img, .carls img {
		width: 50%;
   		margin: 0 auto;
    		display: block;
	}
}